<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">

    <!-- Override ArkCase business rules -->
    <bean id="saveComplaintBusinessRule" class="com.armedia.acm.plugins.complaint.service.SaveComplaintBusinessRule">
        <property name="ruleSpreadsheetFilename" value="drools-complaint-rules-gms.xlsx"/>
    </bean>

    <bean id="reviewRequestService" class="com.arkcase.gms.service.ReviewRequestService" parent="closeComplaintRequestService">
        <property name="complaintFolderNameFormat" value="Application (%s)"/>
        <property name="caseFileDetailsFormat" value="This Award is based on Application '%s'.%s"/>
        <property name="complaintDetailsFormat" value="&lt;p/&gt;Application '%s' had these details:&lt;p/&gt;%s"/>
    </bean>

    <!-- Override Close Complaint Request process handler -->
    <bean id="closeComplaintRequestProcessEndHandler" class="com.armedia.acm.plugins.complaint.service.CloseComplaintRequestProcessEndHandler">
        <property name="closeComplaintRequestService" ref="reviewRequestService"/>
    </bean>

</beans>