<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">

    <bean id="grantToSolrTransformer" class="com.arkcase.gms.transformer.GrantToSolrTransformer" parent="caseFileToSolrTransformer"/>

    <bean id="submissionToSolrTransformer" class="com.arkcase.gms.transformer.SubmissionToSolrTransformer" parent="complaintToSolrTransformer"/>

    <bean id="decisionToSolrTransformer" class="com.arkcase.gms.transformer.DecisionToSolrTransformer" parent="dispositionToSolrTransformer"/>

    <bean id="costBudgetToSolrTransformer" class="com.arkcase.gms.transformer.CostBudgetToSolrTransformer" parent="costsheetToSolrTransformer"/>

    <bean id="costPaymentToSolrTransformer" class="com.arkcase.gms.transformer.CostPaymentToSolrTransformer" parent="costsheetToSolrTransformer"/>

</beans>