<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">

    <bean id="beanUtilsBean" class="com.arkcase.gms.utils.BeanUtilsBean">
        <property name="excludeFields">
            <list value-type="java.lang.String">
                <value>className</value>
            </list>
        </property>
    </bean>

    <!-- Grant -->
    <bean id="grantFactory" class="com.arkcase.gms.service.form.GrantFactory" parent="caseFileFactory">
        <property name="beanUtilsBean" ref="beanUtilsBean"/>
    </bean>

    <bean id="grantFormService" class="com.arkcase.gms.service.form.GrantFormService" parent="caseFileService">
        <property name="caseFileFactory" ref="grantFactory"/>
    </bean>

    <!-- Submission -->
    <bean id="submissionFactory" class="com.arkcase.gms.service.form.SubmissionFactory" parent="complaintFactory">
        <property name="beanUtilsBean" ref="beanUtilsBean"/>
        <property name="caseFileDao" ref="caseFileDao"/>
    </bean>

    <bean id="submissionFormService" class="com.arkcase.gms.service.form.SubmissionFormService" parent="complaintService">
        <property name="complaintFactory" ref="submissionFactory"/>
        <property name="applicationEventPublisher" ref="frevvoApplicationEventPublisher" />
    </bean>

    <bean id="reviewSubmissionTaskName" class="java.lang.String">
        <constructor-arg>
            <value>Evaluate submission '%s'</value>
        </constructor-arg>
    </bean>

    <bean id="panelReviewSubmissionTaskName" class="java.lang.String">
        <constructor-arg>
            <value>Review Approved Submission '%s'</value>
        </constructor-arg>
    </bean>

    <bean id="submissionWorkflowListener" class="com.arkcase.gms.service.form.SubmissionWorkflowListener">
        <property name="fileWorkflowBusinessRule" ref="fileWorkflowBusinessRule"/>
        <property name="activitiRuntimeService" ref="activitiRuntimeService"/>
        <property name="reviewSubmissionTaskName" ref="reviewSubmissionTaskName"/>
        <property name="defaultApproversString" value="${complaint.default.approvers}" />
    </bean>

    <bean id="submissionCompletedWorkflowListener" class="com.arkcase.gms.service.form.SubmissionCompletedWorkflowListener">
        <property name="fileWorkflowBusinessRule" ref="fileWorkflowBusinessRule"/>
        <property name="activitiRuntimeService" ref="activitiRuntimeService"/>
        <property name="panelReviewSubmissionTaskName" ref="panelReviewSubmissionTaskName"/>
        <property name="defaultApproversString" value="${complaint.default.panelReviewers}" />
    </bean>

    <!-- Review -->
    <bean id="reviewFactory" class="com.arkcase.gms.service.form.ReviewFactory" parent="closeComplaintRequestFactory">
        <property name="beanUtilsBean" ref="beanUtilsBean"/>
    </bean>

    <bean id="reviewFormService" class="com.arkcase.gms.service.form.ReviewFormService" parent="closeComplaintService">
        <property name="closeComplaintRequestFactory" ref="reviewFactory"/>
    </bean>

    <!-- Overriding frevvo form services -->
    <bean id="frevvoFormServices" class="java.util.HashMap">
        <constructor-arg>
            <map key-type="java.lang.String" value-type="com.armedia.acm.frevvo.config.FrevvoFormService">
                <entry key="grant" value-ref="grantFormService"/>
                <entry key="submission" value-ref="submissionFormService"/>
                <entry key="review" value-ref="reviewFormService"/>
                <entry key="costsheet_budget" value-ref="costBudgetService"/>
                <entry key="costsheet_payment" value-ref="costPamentService"/>
                <entry key="plain" value-ref="plainFormService"/>
            </map>
        </constructor-arg>
    </bean>

    <bean id="grantUpdatedListener" class="com.arkcase.gms.service.form.GrantUpdatedListener">
        <property name="properties" ref="acm-form-properties"/>
        <property name="grantFormService" ref="grantFormService"/>
    </bean>

    <!-- Cost Budget -->
    <bean id="costBudgetFactory" class="com.arkcase.gms.service.form.CostBudgetFactory" parent="costFactory">
        <property name="beanUtilsBean" ref="beanUtilsBean"/>
    </bean>

    <bean id="costBudgetService" class="com.arkcase.gms.service.form.CostBudgetService" parent="costService">
        <property name="costFactory" ref="costBudgetFactory"/>
    </bean>

    <!-- Cost Payment -->
    <bean id="costPaymentFactory" class="com.arkcase.gms.service.form.CostPaymentFactory" parent="costFactory">
        <property name="beanUtilsBean" ref="beanUtilsBean"/>
    </bean>

    <bean id="costPamentService" class="com.arkcase.gms.service.form.CostPaymentService" parent="costService">
        <property name="costFactory" ref="costPaymentFactory"/>
    </bean>

</beans>