<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">

    <bean id="beanUtilsBean" class="com.arkcase.gms.utils.BeanUtilsBean">
        <property name="excludeFields">
            <list value-type="java.lang.String">
                <value>className</value>
            </list>
        </property>
    </bean>

    <!-- Grant -->
    <bean id="grantFactory" class="com.arkcase.gms.service.form.GrantFactory" parent="caseFileFactory">
        <property name="beanUtilsBean" ref="beanUtilsBean"/>
    </bean>

    <bean id="grantFormService" class="com.arkcase.gms.service.form.GrantFormService" parent="caseFileService">
        <property name="caseFileFactory" ref="grantFactory"/>
    </bean>

    <!-- Award -->
    <bean id="awardFactory" class="com.arkcase.gms.service.form.AwardFactory" parent="complaintFactory">
        <property name="beanUtilsBean" ref="beanUtilsBean"/>
        <property name="caseFileDao" ref="caseFileDao"/>
    </bean>

    <bean id="awardFormService" class="com.arkcase.gms.service.form.AwardFormService" parent="complaintService">
        <property name="complaintFactory" ref="awardFactory"/>
    </bean>

    <!-- Overriding frevvo form services -->
    <bean id="frevvoFormServices" class="java.util.HashMap">
        <constructor-arg>
            <map key-type="java.lang.String" value-type="com.armedia.acm.frevvo.config.FrevvoFormService">
                <entry key="grant" value-ref="grantFormService"/>
                <entry key="award" value-ref="awardFormService"/>
            </map>
        </constructor-arg>
    </bean>

    <bean id="grantUpdatedListener" class="com.arkcase.gms.service.form.GrantUpdatedListener">
        <property name="properties" ref="acm-form-properties"/>
        <property name="grantFormService" ref="grantFormService"/>
    </bean>

</beans>